<%= form_tag root_path(), method: :get, class: "form-horizontal" do %>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
      <%= text_field_tag :word, params[:word], placeholder: "店舗名を入力", class: "form-control" %>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">search</button>
      </span>
    </div>
    <%= render partial: "state_list", locals:{params: params}%>
  </div>
<% end %>

<% @scraping.each do |key, value|%>
<div class="w300">
  <div align="center">
    <% if key.to_s == "Hotpepper" %>
      <% sitelogo = "/assets/hotpepper_beauty_logo.png" %>
      <% siteurl = "http://beauty.hotpepper.jp/" %>
    <% elsif key.to_s == "Rakuten" %>
      <% sitelogo = "/assets/rakuten_salon_logo.jpeg" %>
      <% siteurl = "http://salon.rakuten.co.jp/"%>
    <% elsif key.to_s == "Vivivi" %>
      <% sitelogo = "/assets/vivivi_logo.png" %>
      <% siteurl = "http://www.vi-vi-vi.com/"%>
    <% end %>
    <%= link_to siteurl, target: ["_blank"] do %>
      <img src="<%= sitelogo  %>" alt=".." class="sitelogo1" align="center">
    <% end %>
  </div>
  <% value.each do |i, row|%>
    <%= render partial: "list", locals:{row: row} %>
  <% end %>
</div>
<% end %>
